<section class="h-100 gradient-custom-2">
    <div class="py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 col-xl-12">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: rgb(181, 220, 231); height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src={{artist.imageSrc}} class="card-img-top" 
                     alt="../../../assets/defaultArtistPic.png"
                     onerror="this.onerror=null;this.src=this.alt;">
                     <br>
                     <span *ngIf="isUserConnected">
                      <button *ngIf="!isFollowed" (click)="onFollowClick()" class="btn btn-secondary btn-sm">Follow +</button>
                      <button *ngIf="isFollowed" (click)="onFollowClick()" class="btn btn-primary btn-sm">Unfollow -</button>
                  </span>
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5>{{artist.firstName}} {{artist.lastName}}</h5>
                <p>{{countryName}}</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                <div class="counters" [routerLink]="['/artistsongs/', artist.id]">
                  <p class="mb-1 h5">{{allArtistSongs.length}}</p>
                  <p class="small text-muted mb-0">Songs</p>
                </div>
                <div class="px-3 counters"  [routerLink]="['/artistalbums/', artist.id]">
                  <p class="mb-1 h5">{{albums.length}}</p>
                  <p class="small text-muted mb-0">Albums</p>
                </div>
                <div>
                  <p class="mb-1 h5">{{followersCount}}</p>
                  <p class="small text-muted mb-0">Followers</p>
                </div>
              </div>
            </div>
            <div class="card-body p-4 text-black">
              <div class="mb-5">
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <p class="lead fw-normal mb-0">All Songs</p>
                  <p class="mb-0"><a href="" [routerLink]="['/artistsongs/', artist.id]" class="text-muted">Show all</a></p>
                </div>
                <div class="scrolling-wrapper">
                  <app-song-card class="card w-100" *ngFor="let s of allArtistSongs" [songsList]="allArtistSongs" [song]="s"></app-song-card>
                </div>
                <br>
                <br>
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <p class="lead fw-normal mb-0">All Albums</p>
                  <p class="mb-0"><a href="" [routerLink]="['/artistalbums/', artist.id]" class="text-muted">Show all</a></p>
                </div>
                <div class="scrolling-wrapper">
                  <app-album-card class="card w-100" *ngFor="let a of albums" [album]="a"></app-album-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  